@import url('base.css');

main *{
    margin-bottom: 10px;
}

main h2{
    color: var(--primary-text);
}

main p{
    color: var(--secondary-text);
}

#credits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#credits div{
    display: flex;
    flex-direction: row;
}

#python-icon{
    width: 30%;
}

#github-icon{
    width: 16px;
    margin-right: 5px;
}
