@import url('base.css');

#credits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#credits div{
    display: flex;
    flex-direction: row;
}

#python-icon{
    width: 30%;
}

#github-icon{
    width: 16px;
    margin-right: 5px;
}
