@import url('base.css');

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

label{
    color: var(--secondary-text);
    font-size: 14px;
}
