{% extends 'base.html' %}

{% block title %}Sign in{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<main>
    <div class="content-container">
        <h2>Login</h2>
        
        {% if error %}
        <p class="form-error">{{ error }}</p>
        {% endif %}
        
        <form action="/login" method="post" autocomplete="off">
            <input class="text-input" type="text" name="username" placeholder="Username">
            <input class="text-input" type="password" name="password" placeholder="Password">
            
            <div>
                <input type="checkbox" name="remember" id="remember" checked>
                <label for="remeber">Remember me</label>
            </div>
            
            <input class="button" type="submit" value="Sign in">
        </form>

        <p>Need an account? <a class="hyperlink" href="{{ url_for('login.register') }}">Sign up</a>.</p>
    </div>
</main>
{% endblock %}
