{% extends 'base.html' %}

{% block title %}{{ user }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css' ) }}">
{% endblock %}

{% block body %}
<main>
    <div class="content-container">
        <p>Logged in as</p>
        <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="{{ user }} profile picture">
        <h2>{{ user }}</h2>
        
        {% if permanent %}
        <p>Permanent session</p>
        {% else %}
        <p>Temporary session</p>
        {% endif %}
        
        <a class="button" href="{{ url_for('login.logout') }}">Logout</a>
    </div>
</main>
{% endblock %}
